 .u-section-1 {
  background-image: url("images/Bueno_Rufus.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 607px;
  margin: 3px -2px 60px 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }
}