 .u-section-1 {
  background-image: url("images/backgroud.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1 .u-btn-1 {
  margin: 59px auto 0 329px;
}

.u-section-1 .u-btn-2 {
  margin: -46px 482px 0 auto;
}

.u-section-1 .u-btn-3 {
  margin: -45px 345px 0 auto;
}

.u-section-1 .u-btn-4 {
  margin: -46px 199px 0 auto;
}

.u-section-1 .u-btn-5 {
  margin: -46px 0 0 auto;
}

.u-section-1 .u-btn-6 {
  margin: -45px auto 0 0;
}

.u-section-1 .u-btn-7 {
  margin: -46px auto 0 171px;
}

.u-section-1 .u-btn-8 {
  margin: 47px auto 0 0;
}

.u-section-1 .u-btn-9 {
  margin: -46px auto 0 171px;
}

.u-section-1 .u-btn-10 {
  margin: -46px auto 0 418px;
}

.u-section-1 .u-btn-11 {
  margin: -46px 404px 0 auto;
  padding: 9px 9px 11px 8px;
}

.u-section-1 .u-btn-12 {
  margin: -46px 223px 0 auto;
}

.u-section-1 .u-btn-13 {
  margin: -46px 69px 0 auto;
}

.u-section-1 .u-btn-14 {
  margin: 39px auto 0 0;
}

.u-section-1 .u-btn-15 {
  margin: -46px auto 0 142px;
}

.u-section-1 .u-btn-16 {
  margin: -46px auto 60px 327px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -638px;
    margin-left: 129px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -48px;
    margin-right: 282px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 511px;
    margin-right: 145px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -138px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -424px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 845px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -936px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -32px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 48px;
    margin-left: 218px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 16px;
    margin-right: 204px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -214px;
    margin-right: 23px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -34px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -57px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -152px;
    margin-left: 127px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 62px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -341px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 437px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -182px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 379px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -470px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -106px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -152px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 33px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -39px;
  }
}